#notes {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;

  background: #fff;

  display: flex;
}

.sidebar {
  background: #8aa;
  width: 320px;
  background: #eee;
}

.note {
  flex: 1;
}


/* node styling */

.hierarchy {
  margin: 30px 20px;
}

.node {
  display: grid;
  grid-template-columns: 20px 10px 1fr;
}


.node .title {
  grid-column: 2/4;
}

.node .children {
  grid-column: 3/4;
  margin-top: 10px;
}

.node .trace {
  position: relative;
  top: -1px;
  grid-column: 1/3;
}

