#notes {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;

  background: #fff;

  display: flex;
}

.sidebar {
  background: #8aa;
  width: 320px;
  background: #eee;
}

.note {
  flex: 1;
}


/* node styling */

.hierarchy {
  margin: 30px 20px;
}

.node {
  height: auto;
  padding-top: 6px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 20px 10px 1fr;

  overflow: hidden;
}

.node.toggled {
}

.hirearchy>.node {
  /* height: auto; */
  /* padding-top: 6px; */
}

.node.toggled>.children>.node {
}

.node .head .icon {
  position: relative;
  width: 18px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.node .icon svg {
  position: relative;
  width: 18px;
  height: 100%;

  cursor: pointer;
}

.node .title {
  grid-column: 2/4;
}

.node .traceBlock {
  grid-column: 1/3;
}


.node .traceBlock svg {
  position: relative;
  top: -5px;
  width: 34px;
}
