#notes {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;

  background: #fff;

  display: flex;
}

.sidebar {
  background: #8aa;
  width: 320px;
  background: #eee;
}

.note {
  flex: 1;
}
